body{
    background-color:hsla(127, 9%, 79%, 0.729);

}
#count1{
    text-align:center;
    display:block;
    font-size:10em;
    font-family:arial;
}
#btncontainer{
    text-align:center;  
}
.buttons{
    padding:10px 20px;
    color:white;
    background-color: hsl(197, 94%, 49%);
    border-radius: 5px;
    cursor:pointer;
    transition:background-color 0.25;
}
.buttons:hover{
    background-color: hsl(235, 90%, 49%);
}